h1 {
    text-align: center;
    color: #8B078B;
}
body {
  
    background: url("../images/restaurant_icons.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #DB900D
}